{
  "presets": [
    "env",
    "flow",
    "react"
  ],
  "plugins": [
    "flow-react-proptypes"
  ],
  "env": {
      "server": {
          "plugins": [
              [
                  "css-modules-transform", {
                      "generateScopedName": "[hash:8]",
                      "extensions": [".css"]
                  }
              ]
          ]
      }
  }
}