html {
  height: 100%;
}

body {
  height: 100%;
}

.js-app {
  height: 100%;
}

.js-app>div {
  height: 100%;
}

.gm-style {
  height: 90%;
}

.train-marker {
  background-color: red;
}

.navbar-fixed-bottom {
  width: 90%;
  height: 10%;
}
